<%- include("../partials/header"); -%>
<div class="row">
    <div class="col-6">
        <h1>The Mixeo Community</h1>
        <h5>Find what others are upto with Mixeo</h5>
        <div class="shadow p-3 mb-5 bg-white rounded">
            <p>Featured Video</p>
            <iframe src="https://www.youtube.com/embed/J6bY8rJ-e6A?autoplay=1&mute=1&modestbranding=1&loop=1&controls=0"
                frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
    </div>
    <div class="col-6">
        <img class="banner" src="https://blush.ly/6vk_MQpkB/p" alt="">
    </div>
</div>
<%- include("../partials/footer"); -%>