<%- include("../partials/header"); -%>
    <h1>Welcome to the Mixeo!</h1>
    <h5>Where you can mix videos and share it with the world</h5>
    <img src="https://blush.ly/qIab1UmwU/p" alt="">
<%- include("../partials/footer"); -%>