<%- include("../partials/header"); -%>
<div class="container-fluid">
    <h1>Welcome to the Mixeo!</h1>
    <h5>Where you can mix videos and share it with the world</h5>
</div>
<%- include("../partials/footer"); -%>