<%- include("../partials/header"); -%>
<h1>Prepare video</h1>
<br>
<div style="text-align:center">
    <h5 id="vname">Selected clip: <%= path %> </h5>
    <div id="video-box">
        <video width='640' height='360' src='<%= path %>' type='video/mp4'
            id="editvideo">
            Your browser does not support the video tag.
        </video>
        <div class="ctrl-box">
            <div class="controler">
                <i class="fas fa-play-circle" id="playVid"></i>
                <div class="dragger-case">
                    <div id="vid-range">
                        <div id="v-range">
                        </div>
                    </div>
                </div>
                <div>
                    <i class="fas fa-volume-up" id="ctrl-sound"></i>
                    <div id="vid-volume" style="display:none;"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--  -->
<form class="options">
    <label for="totaldur">Total video length:</label>
    <input type="text" name="totaldur" id="totaldur" readonly>
    <label for="selectdur">Duration selected:</label>
    <input type="text" name="selectdur" id="selectdur" readonly>
    <button class="btn btn-warning" id="cut" name="submit" type="button">CUT</button>
    <!-- <button class="btn btn-success" id="preview" name="submit2" type="button">CUT SUCCESSFUL. WAIT</button> -->
</form>
<%- include("../partials/footer"); -%>
